body{
    background-color: black;
}
h1{
    color:darkcyan;
    font-size: 70px;
    border:2px ridge red;
    padding:50px;
    border-radius: 50px;
    width:890px;
    text-align:center;
    margin:40px auto;
    box-shadow: 0 5px 50px red inset,
                0 5px 50px red,
                0 5px 50px red inset,
                0 5px 50px red;
}
label{
    color:hotpink;
    text-align: center;
    font-size: 30px;
}
form{
    width:800px;
    margin:150px auto;
    border: 4px ridge red;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 5px 50px blue inset,
                0 5px 50px blue,
                0 5px 50px blue inset,
                0 5px 50px blue;

}
input[type=file]::file-selector-button{
    background-color:cyan;
    margin: 6px 50px;
    padding: 29px;
    width:500px;
    border-radius: 40px;
}

button{
    background-color: lawngreen;
    width:700px;
    height:49px;
    border-radius: 590px;
    margin:46px;
    transition:0.5s;
    box-shadow: 0 5px 50px orangered inset,
                0 5px 50px orangered,
                0 5px 50px orangered inset,
                0 5px 50px orangered;
}
button:hover{
    box-shadow: 0 5px 50px greenyellow inset,
                0 5px 50px greenyellow,
                0 5px 50px greenyellow inset,
                0 5px 50px greenyellow;
}
img{
    width:400px;
    height: 400px;
    border-radius: 60px;
    text-align:center;
    margin:40px auto;
    box-shadow: 0 5px 50px red inset,
                0 5px 50px red,
                0 5px 50px red inset,
                0 5px 50px red;
}